/* css reset  */
*{
    margin: 0%;
    padding: 0%;
    cursor: default;
}

body{
    background-color: rgb(255, 255, 255);
}

/* Css variables */

:root{
    --navbar-height: 50px;

}

h3{
    text-shadow: 2px 2px 10px black;
}

#home p{
    text-shadow: 2px 2px 10px black;
}
label{
    text-shadow: 3px 1px 3px rgb(255 255 255);
}

/* navigation bar  */
.navbar{
    display: flex;   
    position: sticky;
    align-items: center;
    top: 0px;
}

.navbar::before{
    content: '';
    background-color: rgb(0, 0, 0);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    
}


/* navbar logo and image  */
#logo img{
    filter: invert(1);
    display: flex;
    height: 83px;
    width: 73px;
    margin: 0px 51px;
}



/* navbar list styling  */
.navbar ul{
    display: flex;
    text-decoration: none;
    
}
.navbar ul li {
    list-style: none;
    font-size: 1.3rem;
    justify-content: center;
}
.navbar ul li a{
    color: white;
    padding: 11px;
    display: block;
    text-decoration: none;
    border-radius: 39px;
    margin: 18px;
    font-family: 'Baloo Chettan 2', cursive;
    
}

.navbar ul li a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    
}

/* home section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 173px  ;
    justify-content: center;
    align-items: center;
    height: 520px;

    text-align: center;
}

#home::before{
    content: '';
    background: url('../bg/food\ bg\ 1.jpg') no-repeat top center/cover;
    position: absolute;
    height: 110%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    /* filter: blur(4px); */
   
}

#home h3{
    text-align: center;
    color: white;
    text-shadow: 10px 10px 10px 10px black;
    font-family: 'Baloo Tammudu 2', cursive;
    
    
}
#home p{
    text-align: center;
    color: white;
    text-shadow: 10px 10px 10px 10px black;
    font-size: 1.5rem;
    font-family: 'Baloo Chettan 2', cursive;   
}

/* service section  */

.box img{
    height: 170px;
    width: 208px;
    filter: drop-shadow(5px 5px 6px rgb(58, 58, 58));
    display: block;
    margin: auto;
}
.box3 img{
    height: 174px;
    width: 238px;
    /* filter: drop-shadow(11px 10px 6px rgb(58, 58, 58)); */
    display: block;
    margin: auto;
}

#services{
    margin: 4px 39px;
    display: flex;

}
#services .box{ 
    border: 2px solid rgb(0, 0, 0) ;
    width: '';
    margin: auto;
    padding: 29px 30px;
    margin: 20px;
    border-radius: 22px;
    background-color: #8e8e8e36;
    transition: transform 0.3s ease-in-out;



}

section #services-container{
   border: 2px solid rgb(0, 0, 0); 
   
   height: 500px;
}



section #service-container{
        content: '';
        background: url(../bg/food\ bg\ 2.jpg) no-repeat center center/cover;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.8;
}

#services .box:hover{
    transform: scale(1.1);
    
}

#services .box3{ 
    border: 2px solid rgb(0, 0, 0) ;
    width: '';
    margin: auto;
    padding: 30px;
    margin: 20px;
    border-radius: 22px;
    background-color: #8e8e8e36;
    transition: transform 0.3s ease-in-out;
    
    
}


#services .box3:hover{
    transform: scale(1.1);
    
}
#services-container{
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 79px 0px;
    height: 513px;
    width: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 2px solid grey;
}
.box p{
    font-family: 'Baloo Chettan 2', cursive;

}
.box3 p{
    font-family: 'Baloo Chettan 2', cursive;
}

.center{
    text-align: center;
}

/* client section  */

#clientsection{
    height: 384px;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-class img{
    height: 204px;
    width: 303px;
    padding: 4px 4px;
    margin: 5px 3px;
    filter: drop-shadow(5px 5px 6px rgb(58, 58, 58));
}

#clientsection::before{
    content: '';
    background: url(../bg/food\ bg\ 2.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    
    
}
div.client-class{
    border: 2px solid black;
    padding: 0px 14px 16px 14px;
}

/* contact us section  */


#contact{
    position: relative;
   
}

#contact::before{
    position: absolute;
    content: '';
    z-index: -1;
    background: url(../bg/contact\ us.jpg)no-repeat center center/cover;
    height: 100%;
    width: 100%;
    filter: blur(4px);
}
#contact-box{
display: flex;
align-items: center;
padding-bottom: 40px;
}
#contact-box form{
    width: 40%;
    margin: auto;
}
#contact-box input,textarea{
    width: 100%;
   border-radius: 10px;
   font-size: 1.3rem;
    padding: 0.5rem;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Baloo Tammudu 2', cursive;
}
/* utility class  */


.h-primary{
    font-size: 2.8rem;
    padding: 3px;
    margin: 6px 10px 6px 10px;
    font-family: 'Baloo Tammudu 2', cursive;
    text-shadow: 10px 10px 5px 5px black;
}
.h-secondary{
   font-size: 1.8rem;
   padding: 3px;
   font-family: 'Baloo Tammudu 2', cursive;
}

.btn{
    color: white;
    padding: 4px 21px;
    margin: 10px;
    font-size: 1.4rem;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 12px;
    opacity: 0.8;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
    
}

footer{
    padding: 9px 20px;
    background-color: black;
    color: white;
}

